<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net"
				 type="log4net.Config.LogNetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings"
					  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WPFTheWeakestRival.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 allowExeDefinition="MachineToLocalUser"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<userSettings>
		<WPFTheWeakestRival.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</WPFTheWeakestRival.Properties.Settings>
	</userSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcp_Default"
						 closeTimeout="00:00:10"
						 openTimeout="00:00:10"
						 receiveTimeout="01:00:00"
						 sendTimeout="00:05:00"
						 maxBufferPoolSize="2097152"
						 maxBufferSize="2097152"
						 maxReceivedMessageSize="2097152">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="2097152"
								  maxArrayLength="2097152"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
			</netTcpBinding>

			<wsHttpBinding>
				<binding name="WSHttpBinding_IAuthService"
						 maxReceivedMessageSize="10485760"
						 messageEncoding="Mtom">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="10485760"
								  maxArrayLength="10485760"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>

				<binding name="WSHttpBinding_IStatsService">
					<security mode="None" />
				</binding>

				<binding name="WSHttpBinding_IWildcardService">
					<security mode="None" />
				</binding>

				<binding name="WSHttpBinding_IReportService">
					<security mode="None" />
				</binding>

				<binding name="WSHttpBinding_IFriendService"
						 maxReceivedMessageSize="10485760"
						 messageEncoding="Mtom">
					<readerQuotas maxDepth="32"
								  maxStringContentLength="10485760"
								  maxArrayLength="10485760"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>

		<client>
			<endpoint address="net.tcp://172.20.10.2:8092/lobby/"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcp_Default"
					  contract="LobbyService.ILobbyService"
					  name="NetTcpBinding_ILobbyService" />

			<endpoint address="net.tcp://172.20.10.2:8093/matchmaking/"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcp_Default"
					  contract="MatchmakingService.IMatchmakingService"
					  name="NetTcpBinding_IMatchmakingService" />

			<endpoint address="net.tcp://172.20.10.2:8094/gameplay/"
					  binding="netTcpBinding"
					  bindingConfiguration="NetTcp_Default"
					  contract="GameplayService.IGameplayService"
					  name="NetTcpBinding_IGameplayService" />

			<endpoint address="http://172.20.10.2:8082/auth/"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IAuthService"
					  contract="AuthService.IAuthService"
					  name="WSHttpBinding_IAuthService" />

			<endpoint address="http://172.20.10.2:8082/friends/"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IFriendService"
					  contract="FriendService.IFriendService"
					  name="WSHttpBinding_IFriendService" />

			<endpoint address="http://172.20.10.2:8082/stats/"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IStatsService"
					  contract="StatsService.IStatsService"
					  name="WSHttpBinding_IStatsService" />

			<endpoint address="http://172.20.10.2:8082/wildcards/"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IWildcardService"
					  contract="WildcardService.IWildcardService"
					  name="WSHttpBinding_IWildcardService" />

			<endpoint address="http://172.20.10.2:8082/reports/"
					  binding="wsHttpBinding"
					  bindingConfiguration="WSHttpBinding_IReportService"
					  contract="ReportService.IReportService"
					  name="WSHttpBinding_IReportService" />
		</client>
	</system.serviceModel>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="logs\WPFTheWeakestRival.Client.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="5MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
</configuration>
