<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WPFTheWeakestRival.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<WPFTheWeakestRival.Properties.Settings>
			<setting name="languageCode" serializeAs="String">
				<value>en-US</value>
			</setting>
		</WPFTheWeakestRival.Properties.Settings>
	</userSettings>
	<system.serviceModel>
		<bindings>
   <wsDualHttpBinding>
    <binding name="WSDualHttpBinding_ILobbyService">
     <security mode="None" />
    </binding>
    <binding name="WSDualHttpBinding_IMatchmakingService">
     <security mode="None" />
    </binding>
    <binding name="WSDualHttpBinding_IGameplayService">
     <security mode="None" />
    </binding>
   </wsDualHttpBinding>
   <wsHttpBinding>
    <binding name="WSHttpBinding_IAuthService">
     <security mode="None" />
    </binding>
    <binding name="WSHttpBinding_IStatsService">
     <security mode="None" />
    </binding>
    <binding name="WSHttpBinding_IFriendService">
     <security mode="None" />
    </binding>
    <binding name="WSHttpBinding_IWildcardService">
     <security mode="None" />
    </binding>
   </wsHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://localhost:8082/wildcards/" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IWildcardService" contract="WildcardService.IWildcardService"
    name="WSHttpBinding_IWildcardService" />
   <endpoint address="http://localhost:8082/stats/" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IStatsService" contract="StatsService.IStatsService"
    name="WSHttpBinding_IStatsService" />
   <endpoint address="http://localhost:8082/matchmaking/" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IMatchmakingService"
    contract="MatchmakingService.IMatchmakingService" name="WSDualHttpBinding_IMatchmakingService" />
   <endpoint address="http://localhost:8082/lobby/" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_ILobbyService" contract="LobbyService.ILobbyService"
    name="WSDualHttpBinding_ILobbyService" />
   <endpoint address="http://localhost:8082/gameplay/" binding="wsDualHttpBinding"
    bindingConfiguration="WSDualHttpBinding_IGameplayService" contract="GameplayService.IGameplayService"
    name="WSDualHttpBinding_IGameplayService" />
   <endpoint address="http://localhost:8082/friends/" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IFriendService" contract="FriendService.IFriendService"
    name="WSHttpBinding_IFriendService" />
   <endpoint address="http://localhost:8082/auth/" binding="wsHttpBinding"
    bindingConfiguration="WSHttpBinding_IAuthService" contract="AuthService.IAuthService"
    name="WSHttpBinding_IAuthService" />
  </client>
	</system.serviceModel>
</configuration>